html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro';
}

p {
  font-size: 25px;
  margin: 0;
  text-align: center;
  max-width: 60vw;
}

.actTitle {
 color: white;
}

.main-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-container {
  float: left;
  position: relative;
  z-index: -2;
  margin-bottom: 1vh;
}

.act-container {
  display: flex;
  flex-direction: row;
}

.scene-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


.In_Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  background-color: #FADC5C;
  width : 33.33vw;
  height: 100vh;
}

.In_Middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  background-color: #E64956;
  width : 33.34vw;
  height: 100vh;
}


.In_Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  background-color: #74D1DE;
  width : 33.33vw;
  height: 100vh;
}

#mainLogo {
  width: 40vw;
}