html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro';
}


a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}


p {
  font-size: 25px;
  margin: 0;
  text-align: center;
  max-width: 60vw;
}

.actTitle {
 color: white;
}

.main-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-container {
  float: left;
  position: relative;
  z-index: -2;
  margin-bottom: 1vh;
}

.act-container {
  display: flex;
  flex-direction: row;
}

.scene-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


#In_Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  background-color: #FADC5C;
  width : 33.33vw;
  height: 100vh;
}

#In_Left:hover {
  background-color: #f9e485;
}


#In_Middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  background-color: #E64956;
  width : 33.34vw;
  height: 100vh;
}

#In_Middle:hover {
  background-color: #e86a75;
}


#In_Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  background-color: #74D1DE;
  width : 33.33vw;
  height: 100vh;
}

#In_Right:hover {
  background-color: #a6d8de;
}

#mainLogo {
  width: 40vw;
}

.spark1 {
  width : 5vw;
  padding: 3vh;
  margin: 0;
}

.spark1:hover {
  width: 8vw;
}